<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::message.select_connection') }}</h4>
</div>

<div class="modal-body">

    {% if connections %}

        <ul class="nav nav-pills nav-stacked">

            {% for key,connection in connections %}

                <li class="nav-item">
                    <a href="{{ url('admin/backups/create?db_connection=' ~ key) }}">
                        <small>Database: {{ connection.database }}</small>
                        <h4><strong>Driver: {{ connection.driver }}</strong></h4>
                        <strong>Prefix: {{ connection.prefix }}</strong>
                    </a>
                </li>

            {% endfor %}

        </ul>

    {% else %}

        {{ trans('streams::message.no_results') }}

    {% endif %}

</div>
